* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 40px;
	color: white;
	

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.spacing{
	word-spacing: 20px;
}
.notification::after{
	content: "";
	height: 7px;
	background-color: rgba(255, 0, 115, 0.633);
	position: absolute;
	width: 7px;
	border-radius: 10px;
	right:42% ;
}
.notselected{
	color:gray;
}
.underline::after{
	content: "";
	display: block;
	height: 3px;
	width: 30px;
	position:absolute;
	background-color: white;
	border-radius: 10px;
	right: 32%
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	padding: 0 30px;
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
	top: 40%;
	
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.imgboolean{
	box-sizing: border-box;
    max-width: 100%;
	border-radius: 100px;
	border: solid white 2px;
	position: relative;
	
}
.contenitoreimg{
	height: 40px;
	width: 40px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
}
.booleanover::after{
	content: "+";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgba(249, 48, 80);
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    font-size: 20px;
    border: none;
    color: white;
    top: 13%;
    right: 40%;
    font-weight: bold;
	
}
.iconsidebar{
	width: 100%;
	color:white;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3px;
	margin-bottom: 30px;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	 border: 2px dashed #fff;
}




/* --------------------- */
